.close-btn {
    position: absolute;
    top:15px;
    left:5px;
    color: white;
    z-index: 2;
    font-size: 30px;
}
ion-slides {
    position: relative;
    background-color: black;
    height: 100%;
}