<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="modalCtrl.dismiss(false);">Cancelar</ion-button>
    </ion-buttons>
    <ion-title>Area social</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>
  <img [src]="newSocialArea.image" *ngIf="newSocialArea.image" (click)="removeImage()">
  <div class="input-file-container">
    <ion-button expand="block">Cargar foto del area</ion-button>
    <input type="file" class="input-file" (change)="loadImage($event)">
  </div>
  <ion-input placeholder="Nombre" [(ngModel)]="newSocialArea.name"></ion-input>
  <ion-button (click)="newSocialArea.schedules.push('');" expand="block">Agregar horario</ion-button>
  <ion-reorder-group disabled="false" (ionItemReorder)="$event.detail.complete(newSocialArea.schedules)">
      <ion-item *ngFor="let schedule of newSocialArea.schedules; let i = index;trackBy:trackByIndex;">
          <ion-reorder slot="start"></ion-reorder>
          <ion-input [(ngModel)]="newSocialArea.schedules[i]"></ion-input>
          <ion-icon slot="end" name="close" (click)="newSocialArea.schedules.splice(i,1)"></ion-icon>
        </ion-item>
  </ion-reorder-group>
  <ion-button (click)="save()" expand="block" [disabled]="!newSocialArea.name || !newSocialArea.image || newSocialArea.schedules.length === 0">Guardar</ion-button>
</ion-content>